/* Insert any CSS code below here */

body{
  background-color:#ccccff;
}

h1{
  color:black;
  }


p{
  font-size:14px;
  color:lemonchiffon;
}
h2{color:#FFC1CB ;}
ul{color:lemonchiffon;}
h3{color:#FFC1CB ;}
ol {color:lemonchiffon;}